@CHARSET "UTF-8";

.itemplayer {
	font-size: 8px;
	border: 1px solid #CCCCCC;
	position: relative;
	height: 11em;
}

.itemplayer-controls {
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	width: 100%;
	height: 3.6em;
}

.itemplayer-wrapper {
	padding: .5em;
	display: inline-block;
	border-right: 1px solid #DDDDDD;
	height: 2.6em;
}

.itemplayer-play {
	width:2em;
	height:2em;
	border-radius:50%;
	position:relative;
	border: 0.3em solid #2c2c2c;
	display: inline-block;
}

.itemplayer-play::before {
	position: absolute;
	content: "";
	top: 0.25em;
	left: 0.75em;
	width: 0em;
	height: 0em;
	border-top: 0.8em solid rgba(44, 44, 44, 0);
	border-bottom: 0.8em solid transparent;
	border-left: 0.8em solid #2C2C2C;
}

.itemplayer-pause {
	width:2em;
	height:2em;
	border-radius:50%;
	position:relative;
	border: 0.3em solid #2c2c2c;
	display: inline-block;
}

.itemplayer-pause::before {
	position: absolute;
	background: #2C2C2C;
	content: "";
	top: 0.4em;
	left: 0.45em;
	width: 0.4em;
	height: 1.3em;
}

.itemplayer-pause::after {
	position: absolute;
	background: #2C2C2C;
	content: "";
	top: 0.4em;
	right: 0.45em;
	width: 0.4em;
	height: 1.3em;
}

.itemplayer-volume-wrapper {
    position: absolute;
    left: 3.6em;
    top: 0;
    width: 8em;
    height: 2em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .8em;
}

.itemplayer-volume-background {
    position: absolute;
    background-color: #2C2C2C;
    top: 0;
    left: 0;
    width: 8em;
    height: 2em;
}

.itemplayer-volume-indicator {
    position: absolute;
    background-color: #E81D1D;
    top: 0;
    left: 0;
    width: 50%;
    height: 2em;
}

.itemplayer-volume {
    position: absolute;
    left: 0;
	top: 0;
    width: 0;
    height: 0;
    border-top: 1em solid white;
    border-left: 4em solid white;
    border-right: 4em solid transparent;
    border-bottom: 1em solid transparent;
}

.itemplayer-volume-cursor {
    position: absolute;
    top: -1.25em;
    left: -.2em;
    height: 2.5em;
    width: .4em;
    background-color: #CCCCCC;
    border: 1px solid black;
}

.itemplayer-clock {
	font-size: 2em;
	position: absolute;
	top: 0;
	left: 6.3em;
	height: 1.4em;
	width: 6.5em;
	padding-top: 0.4em;
	text-align: center;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}

.itemplayer-post-title {
	position: absolute;
	top: 0;
	left: 12.8em;
	font-size: 2em;
	padding-top: 0.4em;
	margin-left: .5em;
}

.itemplayer-scrubber {
	margin: .5em;
	height: 6em;
 	/*background-color: #3A2820;*/
 	background-color: #2C2C2C;
	position: relative;
	left: 0;
	top: 4em;
}

.itemplayer-progress {
	width: 0%;
	height: inherit;
	background-color: #E81D1D;
	z-index: 20;
	border-right: 1px solid black;	
}

.itemplayer-waveform {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

.itemplayer-playhead {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	border-right: 1px solid black;
}