@CHARSET "UTF-8";

.itemplayer {
	font-size: 8px;
	border: 1px solid #CCCCCC;
	position: relative;
	text-align: left;
	overflow: hidden;
	height: 10em;
}

.itemplayer-buttons {
	position: absolute;
	font-size: 2.8em;
	padding: .5em;
	border-right: 1px solid #DDDDDD;
	display: inline-block;
	z-index: 10;
}

.itemplayer-play {
	width:2em;
	height:2em;
	border-radius:50%;
	position:relative;
	border: 0.3em solid #2c2c2c;
	display: inline-block;
}

.itemplayer-play::before {
	position: absolute;
	content: "";
	top: 0.25em;
	left: 0.75em;
	width: 0em;
	height: 0em;
	border-top: 0.8em solid rgba(44, 44, 44, 0);
	border-bottom: 0.8em solid transparent;
	border-left: 0.8em solid #2C2C2C;
}

.itemplayer-pause {
	width:2em;
	height:2em;
	border-radius:50%;
	position:relative;
	border: 0.3em solid #2c2c2c;
	display: inline-block;
}

.itemplayer-pause::before {
	position: absolute;
	background: #2C2C2C;
	content: "";
	top: 0.4em;
	left: 0.45em;
	width: 0.4em;
	height: 1.3em;
}

.itemplayer-pause::after {
	position: absolute;
	background: #2C2C2C;
	content: "";
	top: 0.4em;
	right: 0.45em;
	width: 0.4em;
	height: 1.3em;
}

.itemplayer-content-wrapper {
	padding-left: 10em;
	height: 10em;
}

.itemplayer-controls {
/* 	background-color: pink; */
	height: 3em;
	border-bottom: 1px solid #DDDDDD;
}

.itemplayer-volume-wrapper {
    width: 8em;
    height: 2em;
    border: .5em solid white;
    position: relative;
	display: inline-block;
}

.itemplayer-volume-background {
	position: absolute;
    background-color: #2C2C2C;
    width: 100%;
    height: 100%;
}

.itemplayer-volume-indicator {
    position: absolute;
    background-color: #E81D1D;
    top: 0;
    left: 0;
    width: 50%;
    height: 2em;
}

.itemplayer-volume {
    position: absolute;
    left: 0;
	top: 0;
    width: 0;
    height: 0;
    border-top: 1em solid white;
    border-left: 4em solid white;
    border-right: 4em solid transparent;
    border-bottom: 1em solid transparent;
}

.itemplayer-clock {
	position: absolute;
	font-size: 2em;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}

.itemplayer-post-title {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 17em;
	line-height: 1.5em;
	font-size: 2em;
	width: 9999px;
}

.itemplayer-scrubber {
	position: relative;
/* 	border: .5em solid white; */
/* 	height: 6em; */
	height: 7em;
 	background-color: #2C2C2C;
}

.itemplayer-progress {
	width: 0%;
	height: inherit;
	background-color: #E81D1D;
	z-index: 20;
	border-right: 1px solid black;	
}

.itemplayer-waveform {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

.itemplayer-playhead {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	border-right: 1px solid black;
}
